/* Fixes for width < 600 pixels */
@media screen and (max-width: 599px) and (min-width: 480px) {
 
.clientes > img {
    display: inline-block;
    height: 115px;
    margin-bottom: 10px;
    max-height: 115px;
    max-width: 115px;
    vertical-align: top;
    width: 115px;
}

.gente > div {
    width: 240px;
    max-width: 240px;
    height: 240px;
    max-height: 240px;
    }

.gente div img {
    height: 240px;
    width: 240px
    }

.datos-persona .persona .nombre-persona {
    font-size: 0.9em;
}

.datos-persona .persona .puesto-persona {
    font-size: 0.7em;
}

.landing {
    background: #fff;
    display: block;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 99
    }

.landing-start {
    display: block;
    left: 50%;
    margin: -130px 0 0 -210px;
    position: absolute;
    top: 50%;
    width: auto
    }

.boton-Archer {
    font-size: 18px;
    letter-spacing: 2px;
    position: relative;
    border: none;
    min-width: 162px;
    min-height: 32px;
    background-color: #ccc;
    color: white;
    vertical-align: middle;
    text-transform: uppercase;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s
    }

.innerArticuloProyecto {
    margin: auto;
    max-width: 100%;
    width: 100%;
    padding: 0 20px
    }

.innerArticuloProyectoGaleria.Desktop {
    display: table;
    margin: auto;
    width: 400px;
    max-width: 400px
    }

.innerArticuloProyectoGaleria.Movil > img {
    display: none;
    margin: auto;
    padding: 0 20px;
    max-width: 100%;
    width: 90%
    }

.innerArticuloProyecto #ytplayer {
    width: 400px;
    height: 250px
    }

.main-navigation {
    height: 80px
    }

#main {
    height: 100%;
    display: table;
    width: 100%
    }

.fecha {
    color: #9fad9f;
    display: inline-block;
    float: left;
    height: 1.5em;
    letter-spacing: 1px;
    line-height: 1.7;
    text-transform: uppercase;
    width: 120px
    }

.boton-noticia {
    background-color: #ccc;
    border: medium none;
    color: white;
    display: block;
    font-size: 18px;
    height: 32px;
    letter-spacing: 2px;
    line-height: 34px;
    min-height: 32px;
    min-width: 162px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 162px;
    float: right;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s
    }

.wonderplugincarousel {
    max-width: 400px !important;
    width: 100% !important
    } 
  
}