/* Fixes for width < 600 pixels */
@media screen and (max-width: 599px) and (min-width: 480px) {

/*
 * Intro Page
 */   
.landing {
    background: #fff;
    display: block;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 99;
}
.landing-start {
  display: block;
  left: 50%;
  margin: -130px 0 0 -210px;
  position: absolute;
  top: 50%;
  width: auto;
}
.boton-Archer:focus {outline:0;}

.boton-Archer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}
.boton-Archer {
  font-family: 'optimaregular';
  font-size: 18px;
  letter-spacing: 2px;
  position: relative;
  border: none;
  min-width: 162px;
  min-height: 32px;
  background-color: #cccccc;
  color: white;
  vertical-align: middle;
  text-transform: uppercase;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.boton-Archer:hover {
  background-color: #7F7F7F;
}
/* Intro page */
.innerArticuloProyecto {
    margin: auto;
    max-width: 100%;
    width:100%;
    padding:0 20px;
}
.innerArticuloProyecto h1 {
    font-family: trajanregular;
    font-size: 1.2em;
    margin: 0;
    padding: 60px 0 20px 0;
    text-align: justify;
    width: 100%;
}
.innerArticuloProyecto p {
    font-family: optimaregular;
    font-size: 1.2em;
    margin: 0;
    text-align: justify;
    width: 100%;
}
.innerArticuloProyectoGaleria.Desktop {
    display: none;
    margin: auto;
    width: 960px;
}
.innerArticuloProyectoGaleria.Movil {
    display: block;
}
.innerArticuloProyectoGaleria.Movil > img {
    display: block;
    margin: auto;
    padding: 0 20px;
    max-width: 100%;
    width: 90%;
}

.innerArticuloProyecto #ytplayer{
  width:400px;
  height:250px;
}
/* 
 * Main page 
 */   

/* Main page */ 
  .main-navigation {
    height: 80px;
  }
    
  #main {
    height: 100%;
    display:table;
    width:100%;
  }
  
  .main-navigation li a,
  .main-navigation li {
    display: block;
  	text-decoration: none;
  }
  
  .mini-logo {
    margin: 5px 20px 0 0;
    cursor: pointer;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 220px;
    z-index: 10000;
  }
  
  .mini-logo img {
    width: 100%;
    display: block;
  }
  
  .mini-logo-internal {
    cursor: pointer;
    display: block;
    margin: -35px 0 0 0;
    float: none;
    width: 100%;
    z-index: 1000;    
  }
  
  .mini-logo-internal img {
    width: 80%;
  }
    
  #masthead:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    z-index: 102;
    width: 100%;
    height: 3.125em;
  }

  .menu-toggle {
    position: relative;
    display: inline-block;
    float: left;
    z-index: 104;
    top: 10px;    
    width: 40px;
    height: 40px;
    padding: 6px;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 0;
    border: 0;
    font-family: "pt-serif", sans-serif;
    font-size: 1em;
    color: #909090;
    background: #fff;
    background-color: #fff;
    background-image: none;
    box-shadow: inset 0 0 0 #fff;    
  }
  
  .menu-toggle:hover, .menu-toggle:focus, .menu-toggle:visited,
  .menu-toggle:active, .menu-toggle.toggled-on, button:active {
    /*
    position: fixed;
    z-index: 104;
    */
    outline: 0;
    color: #909090;    
    background: #fff;
    background-color: #fff;
    background-image: none;
    box-shadow: inset 0 0 0 #fff;
  }
  
  .menu-toggle .icon-align-justify {
    font-size: 18px;
  }
  
  /* sidebar */
  
  .main-navigation ul.nav-menu, .main-navigation div.nav-menu > ul {
    display: block;
  }
  
  .sidebar .mainMenu > ul > li > ul > li > a i {
    float: left;
  }

  .sidebar .mainMenu > ul > li > ul > li > a .text {
    display: block;
    overflow: hidden;
    _overflow: visible;
    zoom: 1;
  }
  
  .sidebar {
    position: fixed;
    left: -15.625em;
    top: 0;
    z-index: 100;
    width: 15.625em;
    padding-top: 2.5em;
    height: 100%;
    background: #fff;
    border-right: 1px solid #efefef;
    overflow-y: auto;
  }
  .pushed .sidebar {
    left: 0;
  }
  .sidebar .menu-menu-1-container {
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  .sidebar .menu-menu-1-container > ul > li {
    padding: 1em 0.875em 0.75em;
    border-bottom: 1px solid #efefef;
    text-align: left;
    margin-left: 1em;
    margin-right: 0;
  }
  .sidebar .menu-menu-1-container > ul > li > a {
    display: block;
  }
  .sidebar .menu-menu-1-container > ul > li > a > i {
    position: relative;
    top: -2px;
    vertical-align: middle;
    margin-right: 0.5em;
    font-size: 1.9em;
    color: #a4a4a4;
  }

  .sidebar .menu-menu-1-container > ul > li > a:after {
    position: relative;
    top: -1px;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2em;
    color: #a4a4a4;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  
  .sidebar .menu-menu-1-container > ul > li > a:only-child:after {
    display: none;
  }

  .sidebar .menu-menu-1-container > ul > li > ul {
    margin-left: 1em;
    line-height: 1.2em;
    font-size: 0.85em;
    max-height: 0;
    overflow: hidden;
  }
  .sidebar .menu-menu-1-container > ul > li > ul > li {
    -webkit-transform: translateZ(0);
    margin: 0.35em 0;
    opacity: 0;
  }
  .sidebar .menu-menu-1-container > ul > li > ul > li > a {
    display: block;
    color: #a4a4a4;
    padding-left: 0em;
    line-height: 30px;
    font-size: 11px;
  }
  .sidebar .menu-menu-1-container > ul > li > ul > li > a:focus, .sidebar .menu-menu-1-container > ul > li > ul > li > a:hover {
    color: #626161;
  }
  .sidebar .menu-menu-1-container > ul > li > ul > li > a i {
    opacity: 0;
    margin: 2px 7px 0 0;
  }
  .sidebar .menu-menu-1-container > ul > li > ul > li:nth-child(1) {
    -webkit-transition: opacity 0.4s ease 0.125s;
    transition: opacity 0.4s ease 0.125s;
  }
  .sidebar .menu-menu-1-container > ul > li > ul > li:nth-child(2) {
    -webkit-transition: opacity 0.4s ease 0.25s;
    transition: opacity 0.4s ease 0.25s;
  }
  .sidebar .menu-menu-1-container > ul > li > ul > li:nth-child(3) {
    -webkit-transition: opacity 0.4s ease 0.375s;
    transition: opacity 0.4s ease 0.375s;
  }
  .sidebar .menu-menu-1-container > ul > li > ul > li:nth-child(4) {
    -webkit-transition: opacity 0.4s ease 0.5s;
    transition: opacity 0.4s ease 0.5s;
  }
  .sidebar .menu-menu-1-container > ul > li > ul > li:nth-child(5) {
    -webkit-transition: opacity 0.4s ease 0.625s;
    transition: opacity 0.4s ease 0.625s;
  }
  .sidebar .menu-menu-1-container > ul > li > ul > li:nth-child(6) {
    -webkit-transition: opacity 0.4s ease 0.75s;
    transition: opacity 0.4s ease 0.75s;
  }
  .sidebar .menu-menu-1-container > ul > li > ul > li:nth-child(7) {
    -webkit-transition: opacity 0.4s ease 0.875s;
    transition: opacity 0.4s ease 0.875s;
  }
  .sidebar .menu-menu-1-container > ul > li > ul > li:nth-child(8) {
    -webkit-transition: opacity 0.4s ease 1s;
    transition: opacity 0.4s ease 1s;
  }
  .sidebar .menu-menu-1-container > ul > li > ul > li:nth-child(9) {
    -webkit-transition: opacity 0.4s ease 1.125s;
    transition: opacity 0.4s ease 1.125s;
  }
  .sidebar .menu-menu-1-container > ul > li > ul > li:nth-child(10) {
    -webkit-transition: opacity 0.4s ease 1.25s;
    transition: opacity 0.4s ease 1.25s;
  }
  .sidebar .menu-menu-1-container > ul > li > ul > li.current-menu-item a i {
    opacity: 1;
  }
  .sidebar .menu-menu-1-container > ul > li.current-menu-parent > a:after, .sidebar .mainMenu > ul > li.current-menu-item > a:after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .sidebar .menu-menu-1-container > ul > li.current-menu-parent > ul, .sidebar .mainMenu > ul > li.current-menu-item > ul {
    max-height: 27.625em;
  }

  .sidebar .menu-menu-1-container > ul > li.current-menu-parent > ul > li, .sidebar .mainMenu > ul > li.current-menu-item > ul > li {
    opacity: 1;
    text-align: left;
    height: 30px;
  }
  
  /* sidebar */

  
  /* Contacto */
  
  .agrandar-imagen-contacto {
    -webkit-transform: scale(1.8); 
       -moz-transform: scale(1.8);
         -o-transform: scale(1.8);
            transform: scale(1.8);
  }
    /* Página legion - estilos predeterminados */ 
    /* Despliegue de la nueva sección de noticias */
  .visualizador-noticias {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 100%;
    width: 100%;
}
  
  .visualizador-noticias > h1 {
    color: #626161;
    font-family: trajanregular;
    font-size: 1.2em;
    font-weight: normal;
    margin-bottom: 20px;
    text-transform: uppercase;
}
  
  .listado-noticias {
    border-bottom: 1px solid #ced5cb;
    clear: both;
    display: block;
    float: none;
    height: auto;
    margin: 0 auto 20px;
    width: 100%;
}
	.contenedor-imagen {
    margin: auto;
    max-height: 400px;
    max-width: 400px;
    min-height: 200px;
    min-width: 200px;
    overflow: hidden;
}
  .contenedor-imagen img {
    height: 100% !important;
    width: 100% !important;
}
  .contenedor-texto {
    display: inline-block;
    float: left;
    margin: 20px 0 0;
    width: 100%;
}
  
  .titulo {
    color: #808080;
    font-family: optimaregular;
    font-size: 1.8em;
    line-height: 32px;
    margin: 0 0 20px;
}
  
  .contenedor-texto p {
    color: #808080;
    font-family: optimaregular;
    font-size: 1.2em;
    text-align: justify;
}
  
  .datos-extra {
    font-family: optimaregular;
    font-size: 18px;   
    height: 35px; 
    margin-top: 1.25rem;
    vertical-align: bottom;
  }
  
  .fecha {
    color: #9fad9f;
    display: inline-block;
    float: left;
    font-family: optimaregular;
    height: 1.5em;
    line-height: 1.7;
    width: 120px;
}

.boton-noticia:focus {outline:0;}

.boton-noticia::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}
.boton-noticia {
  background-color: #cccccc;
	border: medium none;
	color: white;
	display: block;
	font-family: "optimaregular";
	font-size: 18px;
	height: 32px;
	letter-spacing: 2px;
	line-height: 34px;
	min-height: 32px;
	min-width: 162px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
	width: 162px;
	float:right;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.boton-noticia:hover {
  background-color: #7F7F7F;
}
  
  
  
}